[Unit]
Description=Sway compositor
After=dbus.socket
After=getty@tty%i.service
After=plymouth-quit-wait.service
After=systemd-logind.service
After=systemd-user-sessions.service
Before=graphical.target
Wants=dbus.socket
Wants=systemd-logind.service
ConditionPathExists=/dev/tty0
Conflicts=getty@tty%i.service

[Service]
Type=simple
ExecStartPre=/usr/bin/chvt %I
ExecStart=/usr/bin/sway -d
TTYPath=/dev/tty%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
PAMName=login
User=jordan
WorkingDirectory=/home/jordan
EnvironmentFile=/home/jordan/.config/sway/environment
Restart=on-failure
RestartSec=2
StandardInput=tty
StandardError=journal
StandardOutput=journal
Nice=-5

[Install]
WantedBy=graphical.target
Alias=display-manager.service
DefaultInstance=1
