* {
	font-family: Monospace;
    font-weight: bold;
    font-size: 28px;
}

window {
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

#input {
	margin: 0px 0px 5px 0px;
	padding: 5px;
	border: 2px solid #3daee9;
	background-color: #000000;
}

#scroll {
	margin: 0px;
	padding: 5px;
	border: 1px solid #3daee9;
}

#text {
	margin: 0px;
	color: #ffffff;
}

#img {
	margin: 0px 5px 0px 0px;
}
