* {
	font-family: Monospace;
    font-weight: bold;
    font-size: 28px;
}

window {
	margin: 0px;
	background-color: #000000;
}

#input {
	margin: 0px 0px 5px 0px;
	padding: 5px;
	border: 2px solid #3daee9;
	background-color: #000000;
}

#inner-box {
	background-color: #000000;
}

#outer-box {
	background-color: #000000;
}

#scroll {
	margin: 0px;
	padding: 5px;
	border: 1px solid #3daee9;
	background-color: #000000;
}

#text {
	margin: 0px;
	background-color: #000000;
	color: #3daee9;
}

#img {
	margin: 0px 5px 0px 0px;
}
