* {
	font-family: Monospace;
    font-weight: bold;
    font-size: 28px;
}

window {
	margin: 0px;
	background-color: rgba(0, 0, 0, 0);
}

#input {
	margin: 0px 0px 5px 0px;
	padding: 5px;
	border: 2px solid #3daee9;
	color: #ffffff;
	background-color: rgba(30, 87, 116, 0.8);
}

#input image {
	color: rgba(0,0,0,0);
}

#scroll {
	padding: 5px;
	border: 1px solid #3daee9;
	background-color: rgba(0, 0, 0, 0.8);
}

#text {
	color: #ffffff;
}

#img {
	margin: 0px 5px 0px 0px;
}
